body {
  padding-top: 75px;
  font-weight: 200;
  font-size: 16px;
}

nav.navbar .navbar-header a.navbar-brand {
  z-index: 99;
  position: relative;
  padding-left: 50px;
  img {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 40px;
  }
}

.row {
  margin: 20px 0;
}

.input-align {
  margin-top: 28px;
}

#types {
  .topType {
     border-bottom: 1px solid #ccc;
     h1 {
       float: left;
     }
  }
  button#addType {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.field-options {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    .input-group {
      margin-bottom: 15px;
    }
  }
}
